* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

#bodyIndex {
  background-image: url("fotofondo3.jpg");
  background-size: cover;
}

.navbar {
  color: white;
}

.nav-link {
  color: white;
}

header {
  width: 100%;
  height: 10vh;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__indiceLista {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: "Parisienne", cursive;
  margin-top: 5px;
}

.header__indiceLista:hover {
  color: #aa6da3;
}

.header__indiceLista li:hover {
  text-shadow: 2px 2px 2px #bfbfbf;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#e5d8ca), to(white));
  background: linear-gradient(#e5d8ca, white);
  height: 100vh;
  background-size: 100%;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main {
  width: 100%;
  height: 80vh;
  margin: auto;
  min-height: 80vh;
}

h1 {
  color: #aa6da3;
  font-size: 6rem;
  font-family: "Parisienne", cursive;
  margin-left: 50px;
}

h1:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#aa6da3), to(#ceb0ca));
  background: linear-gradient(#aa6da3, #ceb0ca);
  color: transparent;
  -webkit-background-clip: text;
}

.main__tituloServicios {
  color: #aa6da3;
  font-size: 6rem;
  font-family: "Parisienne", cursive;
  margin-left: 50px;
}

.main__tituloServicios:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#aa6da3), to(#ceb0ca));
  background: linear-gradient(#aa6da3, #ceb0ca);
  -webkit-background-clip: text;
  color: transparent;
}

#logo {
  margin-top: 5px;
}

.main__tituloPrincipal {
  color: #aa6da3;
  font-size: 6rem;
  font-family: "Parisienne", cursive;
  margin-left: 50px;
  margin-top: 15vh;
}

.main__tituloPrincipal:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#aa6da3), to(#ceb0ca));
  background: linear-gradient(#aa6da3, #ceb0ca);
  -webkit-background-clip: text;
  color: transparent;
}

#tituloHome {
  color: #402c1d;
  margin-left: 50px;
  margin-top: 15vh;
}

#tituloHome:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#402c1d), to(#ceb0ca));
  background: linear-gradient(#402c1d, #ceb0ca);
  -webkit-background-clip: text;
  color: transparent;
}

section div h1 {
  color: white;
}

.main__parrafo {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 2rem;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
  width: 50%;
  text-align: justify;
  margin-top: 5px;
}

.main__divQuienesSomos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#pquienesSomos {
  font-family: "Montserrat", sans-serif;
  color: #402c1d;
  font-size: 2rem;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
  width: 45%;
  text-align: justify;
  margin-top: 5px;
}

#fotoQuienesSomos {
  position: absolute;
  top: 180px;
  width: 40%;
  right: 50px;
}

.main__divServicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}

.main__listaServicios li {
  list-style-type: decimal;
  font-family: "Montserrat", sans-serif;
  color: #402c1d;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
  text-align: justify;
  margin-top: 5px;
  margin-bottom: 0px;
}

#tablaServicios {
  border-top-style: dotted;
  border-right-style: dotted;
  border-bottom-style: dotted;
  border-left-style: dotted;
  font-family: "Montserrat", sans-serif;
  color: #aa6da3;
  font-size: 2rem;
}

.fotosPortfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

h2 {
  color: white;
}

main section li {
  color: white;
}

body ol li {
  color: white;
}

.main__Contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__contenedorContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main__formularioContacto {
  color: #402c1d;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 50px;
}

.fotoContacto {
  width: 30%;
}

.boton {
  background: -webkit-gradient(linear, left top, right top, from(#aa6da3), to(#ceb0ca));
  background: linear-gradient(to right, #aa6da3, #ceb0ca);
  color: white;
  font-family: "Montserrat", sans-serif;
  width: 140px;
  height: 35px;
  font-size: 1rem;
  cursor: pointer;
  margin: 20px 0px 0px 20px;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
}

.boton:hover {
  font-weight: bold;
}

.footer__iconosFooter {
  -webkit-animation-name: wobble-hor-bottom 0.8s both;
          animation-name: wobble-hor-bottom 0.8s both;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #402c1d;
  margin-bottom: 5px;
}

.footer__iconosFooter a:hover {
  opacity: 50%;
}

footer a:hover {
  color: #aa6da3;
}

.textoFooter {
  font-size: 1.5rem;
}

.footerPortfolio {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #402c1d;
  margin-top: 100vh;
}

@media only screen and (max-width: 320px) {
  .header__indiceLista {
    color: white;
    font-size: large;
    text-decoration: none;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__iconosFooter {
    text-decoration: none;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    color: #402c1d;
    width: 100%;
  }
  .footer__iconosFooter:hover {
    opacity: 10%;
  }
  div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media only screen and (max-width: 600px) {
  .header__indiceLista {
    color: white;
    font-size: large;
    text-decoration: none;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__iconosFooter {
    text-decoration: none;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    color: #402c1d;
  }
  div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 48.5%;
  }
  .header__indiceLista {
    color: white;
    font-size: large;
    text-decoration: none;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=style.css.map */