.carousel-item--background1 {
  background-image: url("../fiesta.jpg");
  min-height: 100%;
  background-position: center;
  background-size: cover;
  min-height: 50vh;
}

.carousel-item--background2 {
  background-image: url("../fireworks (2).jpg");
}

.carousel-item--background3 {
  background-image: url("../birthday.jpg");
}
