* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$rosa: #aa6da3;
$marron: #402c1d;

/*Generales y Home*/

html {
  font-size: 62.5%;
}

#bodyIndex {
  background-image: url("fotofondo3.jpg");
  background-size: cover;
}

.main__Home {
  display: flex;
  flex-direction: column;
}

.navbar {
  color: white;
}

.nav-link {
  color: white;
}

header {
  width: 100%;
  height: 10vh;
  margin: auto;
  align-items: center;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Parisienne", cursive;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link:hover {
  color: $rosa;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Parisienne", cursive;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: $rosa;
  text-shadow: 2px 2px 2px #bfbfbf;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.header__indiceLista {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Parisienne", cursive;
}

.header__indiceLista:hover {
  color: $rosa;
}

.header__indiceLista li:hover {
  text-shadow: 2px 2px 2px #bfbfbf;
}

body {
  background: linear-gradient(#e5d8ca, white);
  background-size: 100%;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main {
  width: 100%;
  margin: auto;
  min-height: 80vh;
}

h1 {
  color: $rosa;
  font-size: 6rem;
  font-family: "Parisienne", cursive;
  margin-left: 50px;
}
h1:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#aa6da3),
    to(#ceb0ca)
  );
  background: linear-gradient(#aa6da3, #ceb0ca);
  color: transparent;
  -webkit-background-clip: text;
}

#tituloHome {
  color: $marron;
  margin-left: 50px;
  margin-top: 15vh;
}
#tituloHome:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#aa6da3),
    to(#ceb0ca)
  );
  background: linear-gradient(#402c1d, #ceb0ca);
  -webkit-background-clip: text;
  color: transparent;
}

/*Página Quienes Somos*/
.main__divQuienesSomos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

#pquienesSomos {
  font-family: "Montserrat", sans-serif;
  color: $marron;
  font-size: 2rem;
  margin: 20px;
  display: flex;
  margin-left: 50px;
  width: 45%;
  text-align: justify;
  margin-top: 5px;
}

#fotoQuienesSomos {
  position: absolute;
  top: 180px;
  width: 40%;
  right: 50px;
}

#fotoQuienesSomos:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
}

/*Página Servicios*/
.main__tituloServicios {
  color: $rosa;
  font-size: 6rem;
  font-family: "Parisienne", cursive;
  margin-left: 50px;
}

.main__tituloServicios:hover {
  background: linear-gradient(#aa6da3, #ceb0ca);
  -webkit-background-clip: text;
  color: transparent;
}

#logo {
  margin-top: 5px;
}
.main__tituloPrincipal {
  color: $rosa;
  font-size: 6rem;
  font-family: "Parisienne", cursive;
  margin-left: 50px;
  margin-top: 15vh;
}
.main__tituloPrincipal:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#aa6da3),
    to(#ceb0ca)
  );
  background: linear-gradient(#aa6da3, #ceb0ca);
  -webkit-background-clip: text;
  color: transparent;
}

section div h1 {
  color: white;
}

.main__parrafo {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 2rem;
  margin: 20px;
  display: flex;
  margin-left: 50px;
  width: 50%;
  text-align: justify;
  margin-top: 5px;
}

.main__divServicios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.main__listaServicios li {
  list-style-type: decimal;
  font-family: "Montserrat", sans-serif;
  color: $marron;
  font-size: 2rem;
  display: flex;
  margin-left: 50px;
  text-align: justify;
  margin-top: 5px;
  margin-bottom: 0px;
}

.tablaServicios {
  border-top-style: dotted;
  border-right-style: dotted;
  border-bottom-style: dotted;
  border-left-style: dotted;
  font-family: "Montserrat", sans-serif;
  color: $marron;
  font-size: 1.7rem;
  border-color: white;
  padding: 5px;
}

.pServicios {
  font-size: 1.5rem;
  color: $rosa;
}

.main__tituloTabla {
  color: $marron;
}

#fotoServicios {
  position: absolute;
  top: 180px;
  width: 40%;
  right: 50px;
}

/*Página Portfolio*/
.fotosPortfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 80vh;
  background-size: cover;
  background-position: center;
}

.carousel-inner img {
  width: 100%;
  max-height: 600px;
  max-width: 800px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolioCarousel {
  display: flex;
  justify-content: center;
  height: 80vh;
}

.carousel-indicators [data-bs-target] {
  background-color: $marron;
}

.carousel-control-prev-icon {
  filter: invert(100%);
}

.carousel-control-next-icon {
  filter: invert(100%);
}

h2 {
  color: white;
}
main section li {
  color: white;
}
body ol li {
  color: white;
}

/*Galeria*/
.Galeria {
  height: 50%;
}

.gallery-block.grid-gallery {
  height: 80vh;
}

.gallery-block.grid-gallery .heading {
  margin-bottom: 50px;
  text-align: center;
}

.gallery-block.grid-gallery .item img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
}

.gallery-block.grid-gallery .item {
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .gallery-block.grid-gallery .scale-on-hover:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
  }
}

/*Página Contacto*/

.main__Contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__contenedorContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main__formularioContacto {
  color: #402c1d;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 50px;
}

.fotoContacto {
  width: 23%;
}

.fotoContacto:hover {
  transform: scale(1.02);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
}

.boton {
  background: linear-gradient(to right, #aa6da3, #ceb0ca);
  color: white;
  font-family: "Montserrat", sans-serif;
  width: 140px;
  height: 35px;
  font-size: 1rem;
  cursor: pointer;
  margin: 20px 0px 0px 20px;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  border-color: white;
}

.boton:hover {
  font-weight: bold;
  border-color: white;
}

/*Footers*/

.footer__iconosFooter {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: $marron;
  margin-bottom: 5px;
}

.footer__iconosFooter a:hover {
  opacity: 50%;
  transform: scale(1.02);
}

.footer__iconosFooterGaleria {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: $marron;
  margin-bottom: 10vh;
  position: absolute;
}

.footer__iconosFooterGaleria a:hover {
  opacity: 50%;
  transform: scale(1.02);
}

footer a:hover {
  color: #aa6da3;
}

.textoFooter {
  font-size: 1.5rem;
}

.footerPortfolio {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: $marron;
  margin-top: 100vh;
}

#Error {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Media Queries*/

@media only screen and (max-width: 320px) {
  .header__indiceLista {
    color: white;
    font-size: large;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .footer__iconosFooter {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #402c1d;
    width: 100%;
  }
  .footer__iconosFooter:hover {
    opacity: 10%;
  }

  .footer__iconosFooterGaleria {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #402c1d;
    width: 100%;
  }
  .footer__iconosFooterGaleria:hover {
    opacity: 10%;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 600px) {
  .header__indiceLista {
    color: white;
    font-size: large;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #tituloHome {
    font-size: 4rem;
  }

  .main__parrafo {
    font-size: 1.6rem;
  }

  .main__divQuienesSomos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  #fotoQuienesSomos {
    position: relative;
    top: auto;
    width: 70%;
    right: auto;
  }

  #fotoServicios {
    position: relative;
    top: auto;
    width: 70%;
    right: auto;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .main__tituloPrincipal {
    font-size: 4rem;
  }

  #pquienesSomos {
    font-size: 1.5rem;
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .main__Contacto {
    display: flex;
    flex-direction: column;
  }

  .fotoContacto {
    width: 50%;
    margin: auto;
  }

  .footer__iconosFooter {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #402c1d;
  }

  .footer__iconosFooterGaleria {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #402c1d;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 48.5%;
  }
  .header__indiceLista {
    color: white;
    font-size: large;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #d6c2b4;
  }

  .footer__iconosFooter {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #402c1d;
  }

  .footer__iconosFooterGaleria {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #402c1d;
  }

  .logoFooter {
    width: 70%;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 900px;
  }
}
